.well
  / Link or button to toggle dropdown
  %ul.nav
    %li{role: "presentation"}
      %a{:href => new_dashboard_task_path} Add
    %li{role: "presentation"}
      %a{:href => finishs_dashboard_tasks_path} Finishs