#nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-6", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / %a.navbar-brand{href: root_path} Skirt
    #bs-example-navbar-collapse-6.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.navbar-brand{href: dashboard_restaurants_path} Restaurants
        %li
          %a.navbar-brand{href: dashboard_tasks_path} Tasks
        %li
          %a.navbar-brand{href: sign_out_path} Sign out
      %ul.nav.navbar-nav
        %li
          %a.navbar-brand{href: root_path} Eat it
    / /.navbar-collapse