%nav.navbar.navbar-custom.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
        %i.fa.fa-bars
      %a.navbar-brand{:href => root_path}
        %i.fa.fa-cutlery
        %span.light Eat it
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      %ul.nav.navbar-nav
        / Hidden li included to remove active class from about link when scrolled up past about section
        %li.hidden
          %a{:href => "#page-top"}
        %li.page-scroll
          %a{href: restaurants_path}= t('restaurant')
        %li.page-scroll
          %a{href: dashboard_tasks_path}= t('task')
      %ul.nav.navbar-nav.navbar-right
        %li.page-scroll
          - if session.has_key?(:UserInfo)
            %a{href: dashboard_root_path}= t('dashboard')
          - else
            %a{:href => "/auth/facebook"}= t('sign_in')

