.well
  / Link or button to toggle dropdown
  %ul.nav
    %li{role: "presentation"}
      -# %a{:href => search_dashboard_restaurants_path} Search
    %li{role: "presentation"}
      / -# %a{:href => new_dashboard_restaurants_path} Add