
// @import "compass/reset"
@import "compass/css3"
@import "bootstrap"
@import "font-awesome"

@media(min-width:767px)
  .top-nav-collapse
    background-color: #8E8E93

#nav
  li a
    background: none
  a.navbar-brand
    color: #666
    &:hover
      color: #333


.intro
  background-color: #D6CEC3

.clear
  clear: both

html, body
  height: 100%

#wrap
  // min-height: 100%
  // height: auto
  /* Negative indent footer by its height */
  margin: 0 auto -60px
  /* Pad bottom by footer height */
  padding: 0 0 60px
  display: table

#footer
  padding-top: 30px
  text-align: center
  height: 90px
  color: #fff
  background-color: #4A4A4A